input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input{
  border: 1px solid #e4eaec;
  outline: none;
  transition-duration: 300ms;
}

input:focus{
  border: 1px solid #3E8EF7;
}